---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/upcoming?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dates":{"maximum":"2021-01-06","minimum":"2020-12-16"},"page":1,"results":[{"adult":false,"backdrop_path":"/8rIoyM6zYXJNjzGseT3MRusMPWl.jpg","genre_ids":[14,10751,12,35,27],"id":531219,"original_language":"en","original_title":"Roald
        Dahl''s The Witches","overview":"In late 1967, a young orphaned boy goes to
        live with his loving grandma in the rural Alabama town of Demopolis. As the
        boy and his grandmother encounter some deceptively glamorous but thoroughly
        diabolical witches, she wisely whisks him away to a seaside resort. Regrettably,
        they arrive at precisely the same time that the world''s Grand High Witch
        has gathered.","popularity":748.242,"poster_path":"/betExZlgK0l7CZ9CsCBVcwO1OjL.jpg","release_date":"2020-10-26","title":"Roald
        Dahl''s The Witches","video":false,"vote_average":6.9,"vote_count":884},{"adult":false,"backdrop_path":"/eShw0LB5CkoEfYtpUcXPD85oz5Q.jpg","genre_ids":[27,53,35],"id":551804,"original_language":"en","original_title":"Freaky","overview":"A
        mystical, ancient dagger causes a notorious serial killer to magically switch
        bodies with a 17-year-old girl.","popularity":661.044,"poster_path":"/8xC6QSyxrpm0D5A6iyHNemEWBVe.jpg","release_date":"2020-11-12","title":"Freaky","video":false,"vote_average":7.5,"vote_count":105},{"adult":false,"backdrop_path":"/cjaOSjsjV6cl3uXdJqimktT880L.jpg","genre_ids":[12,14,10751,16],"id":529203,"original_language":"en","original_title":"The
        Croods: A New Age","overview":"After leaving their cave, the Croods encounter
        their biggest threat since leaving: another family called the Bettermans,
        who claim and show to be better and evolved. Grug grows suspicious of the
        Betterman parents, Phil and Hope,  as they secretly plan to break up his daughter
        Eep with her loving boyfriend Guy to ensure that their daughter Dawn has a
        loving and smart partner to protect her.","popularity":287.196,"poster_path":"/tK1zy[...]
[...]
