<%= button_to 'Discover Movies', discover_path, method: "get" %>

<section class='friends'>
  <h2>My Friends:</h2>

</section>

<section class='viewing-parties'>
  <h2>My Viewing Parties:</h2>

</section>
