<h1>Welcome <%= @current_user.username %>!</h1>
<%= link_to "Discover Movies", "/discover" %>

<h2>Friends</h2>
<% @friends.each do |friend| %>
  <%= friend.username %><br>
<% end %>

<h2>Parties</h2>
