<h1>
  <%= "Welcome, #{@user_email}!" %>
  <%# <% require 'pry'; binding.pry%> %>
</h2>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section>
  <h3>
    Friends
  </h3>
</section>

<section>
  <h3>
    Viewing Parties
  </h3>
</section>
