<h1>Welcome, <%= current_user.name %>!</h1>
<br>
<center>
  <%= button_to 'Discover Movies' %>
</center>
<br>
<section class='friends'>
  <p>Friends</p>
  <hr>
</section>
<br>
<section class='viewing-parties'>
  <p>Viewing Parties</p>
  <hr>
</section>
