---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMB_movie_api_key>&page=1&query=Pulp%20Fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/w7RDIgQM6bLT7JXtH4iUQd3Iwxm.jpg","genre_ids":[53,80],"id":680,"original_language":"en","original_title":"Pulp
        Fiction","overview":"A burger-loving hit man, his philosophical partner, a
        drug-addled gangster''s moll and a washed-up boxer converge in this sprawling,
        comedic crime caper. Their adventures unfurl in three stories that ingeniously
        trip back and forth in time.","popularity":56.239,"poster_path":"/plnlrtBUULT0rh3Xsjmpubiso3L.jpg","release_date":"1994-09-10","title":"Pulp
        Fiction","video":false,"vote_average":8.5,"vote_count":20491},{"adult":false,"backdrop_path":"/ckqex7ae9whkgM3ffk49lSVNqgF.jpg","genre_ids":[99],"id":619836,"original_language":"en","original_title":"Pulp
        Fiction: The Facts","overview":"A series of interviews talking about Tarantino''s
        early days and how he got to Pulp Fiction.","popularity":3.482,"poster_path":"/eSDP6tC1FIMZsPMclhsr8mYiSZk.jpg","release_date":"2002-08-20","title":"Pulp
        Fiction: The Facts","video":false,"vote_average":7.8,"vote_count":5},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":109005,"original_language":"en","original_title":"Pulp
        Fiction Art","overview":"A guilty pleasure of the mid-20th century[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<TMB_movie_api_key>&page=2&query=Pulp%20Fiction
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - b75f2cef671cfa5b8207141fbbd28988
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":1,"total_results":6}'
  recorded_at: Sat, 06 Feb 2021 22:16:32 GMT
recorded_with: VCR 6.0.0
