<h6>Viewing Parties</h6>
<% current_user.viewing_parties.each do |viewing_party| %>
  <div id="party-<%= viewing_party.id %>">
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
  </div>
<% end %>
