---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<replacement>&include_adult=false&language=en-US&page=1&query=Gabriel%27s%20Inferno%20Part%20III
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":37.317,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":464}],"total_pages":1,"total_results":1}'
  recorded_at: Sun, 06 Dec 2020 22:42:53 GMT
recorded_with: VCR 6.0.0
