[user]
  email = jKwibe@users.noreply.github.com
  name = kwibe merci
  email = neeruram1@users.noreply.github.com
  name = neeru ram

[commit]
  template = ~/.gitmessage
  
[core]
  editor = atom --wait
