---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/credits?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 60ee64252f11a8dadba52e56f0eca358d621e311
      X-Memc-Age:
      - '15240'
      X-Memc-Expires:
      - '6360'
      Last-Modified:
      - Wed, 09 Dec 2020 18:29:18 GMT
      Etag:
      - W/"23d55d3f66d69381f6ae75a82ab82eaa"
    body:
      encoding: UTF-8
      string: '{"id":240,"cast":[{"adult":false,"gender":2,"id":1158,"known_for_department":"Acting","name":"Al
        Pacino","original_name":"Al Pacino","popularity":9.951,"profile_path":"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg","cast_id":8,"character":"Don
        Michael Corleone","credit_id":"52fe422bc3a36847f8009505","order":0},{"adult":false,"gender":2,"id":3087,"known_for_department":"Acting","name":"Robert
        Duvall","original_name":"Robert Duvall","popularity":5.566,"profile_path":"/ybMmK25h4IVtfE7qrnlVp47RQlh.jpg","cast_id":9,"character":"Tom
        Hagen","credit_id":"52fe422bc3a36847f8009509","order":1},{"adult":false,"gender":1,"id":3092,"known_for_department":"Acting","name":"Diane
        Keaton","original_name":"Diane Keaton","popularity":6.226,"profile_path":"/7gEdH5vGwpUpogscTb2JivnoRBb.jpg","cast[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4b717705dba87c74ee43f0f4d0a4e2fb10eb1630
      X-Memc-Age:
      - '6705'
      X-Memc-Expires:
      - '14895'
      Etag:
      - W/"0c9b521e06dcd01ce7648d210c3c6eeb"
      Last-Modified:
      - Thu, 10 Dec 2020 02:51:28 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":13000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":240,"imdb_id":"tt0071562","original_language":"en","original_title":"The
        Godfather: Part II","overview":"In the continuing saga of the Corleone crime
        family, a young Vito Corleone grows up in Sicily and in 1910s New York. In
        the 1950s, Michael Corleone attempts to expand the family business into Las
        Vegas, Hollywood and Cuba.","popularity":34.126,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","production_companies":[{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":536,"logo_path":null,"name":"The
        Coppola Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1974-12-20","revenue":102600000,"runtime":202,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"},{"english_name":"Spanish","iso_639_1":"es","name":"Español"}],"status":"Released","tagline":"I
        don''t feel I have to wipe everybody out, Tom. Just my enemies.","title":"The
        Godfather: Part II","video":false,"vote_average":8.6,"vote_count":7951}'
  recorded_at: Thu, 10 Dec 2020 04:27:42 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/reviews?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 202155e2e03eaee3304d48f44d06151b18b69f38
      X-Memc-Age:
      - '7653'
      X-Memc-Expires:
      - '13947'
      Etag:
      - W/"7833938b0a11fb0c4b486b758ac5dcc1"
      Last-Modified:
      - Wed, 09 Dec 2020 23:16:47 GMT
    body:
      encoding: UTF-8
      string: '{"id":240,"page":1,"results":[{"author":"jkbbr549","author_details":{"name":"","username":"jkbbr549","avatar_path":null,"rating":null},"content":"This
        is by far the greatest movie of all time!  Even better than the first Godfather!","created_at":"2015-04-21T11:41:26.541Z","id":"553637669251416518002602","updated_at":"2015-04-21T13:57:15.391Z","url":"https://www.themoviedb.org/review/553637669251416518002602"},{"author":"Matthew
        Dixon","author_details":{"name":"Matthew Dixon","username":"matthewdixon","avatar_path":"/Af7sJr2dLx38npWMIaDzVmdzwd4.jpg","rating":10.0},"content":"Worthy
        sequel to the first movie. In something more meditative and unhurried, in
        something more philosophically meaningful than its legendary predecessor.
        Backstage games and backstage talks replaced the dramatic mood swings of the
        main characters and the exchange of fire.\r\n\r\nThe second film continues
        the story of Michael Carleone in the role of the Godfather, and also complements
        the family story with scenes of the formation of the young Vito Andolini and
        his escape to America. The difficult choice of being young Don, his sphere
        of expansion of influence opens up new heights and horizons, but also acquires
        new enemies. Big money and power always keep pace with great temptation, and
        therefore you should always keep your ears open. After all, the knife in the
        back can insert exactly the one from whom you do not expect ...","created_at":"2019-07-30T08:28:10.884Z","id":"5d3fff9ab87aec6aa339e228","updated_at":"2019-07-31T22:33:04.159Z","url":"https://www.themoviedb.org/review/5d3fff9ab87aec6aa339e228"}],"total_pages":1,"total_results":2}'
  recorded_at: Thu, 10 Dec 2020 04:27:43 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/similar?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b1ad33f15c1eadd966f0251859519759d4b0d6df
      X-Memc-Age:
      - '20225'
      X-Memc-Expires:
      - '1375'
      Etag:
      - W/"d83d66b64132d59112666ea12d8a799d"
      Last-Modified:
      - Thu, 10 Dec 2020 02:51:28 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/3naOwcmYNZfd80kC1OXmembjc8j.jpg","genre_ids":[53,28,18],"id":445954,"original_language":"en","original_title":"Acts
        of Vengeance","overview":"A fast-talking lawyer transforms his body and takes
        a vow of silence, not to be broken until he finds out who killed his wife
        and daughter and has his revenge.","poster_path":"/r5o6vWPYOQs6bv91gQ8kQs2zQYl.jpg","release_date":"2017-10-27","title":"Acts
        of Vengeance","video":false,"vote_average":5.9,"vote_count":336,"popularity":18.611},{"adult":false,"backdrop_path":"/d[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/upcoming?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dates":{"maximum":"2021-01-06","minimum":"2020-12-16"},"page":1,"results":[{"adult":false,"backdrop_path":"/8rIoyM6zYXJNjzGseT3MRusMPWl.jpg","genre_ids":[14,10751,12,35,27],"id":531219,"original_language":"en","original_title":"Roald
        Dahl''s The Witches","overview":"In late 1967, a young orphaned boy goes to
        live with his loving grandma in the rural Alabama town of Demopolis. As the
        boy and his grandmother encounter some deceptively glamorous but thoroughly
        diabolical witches, she wisely whisks him away to a seaside resort. Regrettably,
        they arrive at precisely the same time that the world''s Grand High Witch
        has gathered.","popularity":748.242,"poster_path":"/betExZlgK0l7CZ9CsCBVcwO1OjL.jpg","release_date":"2020-10-26","title":"Roald
        Dahl''s The Witches","video":false,"vote_average":6.9,"vote_count":884},{"adult":false,"backdrop_path":"/eShw0LB5CkoEfYtpUcXPD85oz5Q.jpg","genre_ids":[27,53,35],"id":551804,"original_language":"en","original_title":"Freaky","overview":"A
        mystical, ancient dagger causes a notorious serial killer to magically switch
        bodies with a 17-year-old girl.","popularity":661.044,"poster_path":"/8xC6QSyxrpm0D5A6iyHNemEWBVe.jpg","release_date":"2020-11-12","title":"Freaky","video":false,"vote_average":7.5,"vote_count":105},{"adult":false,"backdrop_path":"/cjaOSjsjV6cl3uXdJqimktT880L.jpg","genre_ids":[12,14,10751,16],"id":529203,"original_language":"en","original_title":"The
        Croods: A New Age","overview":"After leaving their cave, the Croods encounter
        their biggest threat since leaving: another family called the Bettermans,
        who claim and show to be better and evolved. Grug grows suspicious of the
        Betterman parents, Phil and Hope,  as they secretly plan to break up his daughter
        Eep with her loving boyfriend Guy to ensure that their daughter Dawn has a
        loving and smart partner to protect her.","popularity":287.196,"poster_path":"/tK1zy[...]
[...]
