---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/credits?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 60ee64252f11a8dadba52e56f0eca358d621e311
      X-Memc-Age:
      - '15240'
      X-Memc-Expires:
      - '6360'
      Etag:
      - W/"23d55d3f66d69381f6ae75a82ab82eaa"
      Last-Modified:
      - Wed, 09 Dec 2020 18:29:18 GMT
    body:
      encoding: UTF-8
      string: '{"id":240,"cast":[{"adult":false,"gender":2,"id":1158,"known_for_department":"Acting","name":"Al
        Pacino","original_name":"Al Pacino","popularity":9.951,"profile_path":"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg","cast_id":8,"character":"Don
        Michael Corleone","credit_id":"52fe422bc3a36847f8009505","order":0},{"adult":false,"gender":2,"id":3087,"known_for_department":"Acting","name":"Robert
        Duvall","original_name":"Robert Duvall","popularity":5.566,"profile_path":"/ybMmK25h4IVtfE7qrnlVp47RQlh.jpg","cast_id":9,"character":"Tom
        Hagen","credit_id":"52fe422bc3a36847f8009509","order":1},{"adult":false,"gender":1,"id":3092,"known_for_department":"Acting","name":"Diane
        Keaton","original_name":"Diane Keaton","popularity":6.226,"profile_path":"/7gEdH5vGwpUpogscTb2JivnoRBb.jpg","cast[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4b717705dba87c74ee43f0f4d0a4e2fb10eb1630
      X-Memc-Age:
      - '21575'
      X-Memc-Expires:
      - '25'
      Etag:
      - W/"08b807fcc6705033cca4d15ec8d75e5b"
      Last-Modified:
      - Wed, 09 Dec 2020 18:57:52 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":13000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"","id":240,"imdb_id":"tt0071562","original_language":"en","original_title":"The
        Godfather: Part II","overview":"In the continuing saga of the Corleone crime
        family, a young Vito Corleone grows up in Sicily and in 1910s New York. In
        the 1950s, Michael Corleone attempts to expand the family business into Las
        Vegas, Hollywood and Cuba.","popularity":36.173,"poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","production_companies":[{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":536,"logo_path":null,"name":"The
        Coppola Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1974-12-20","revenue":102600000,"runtime":202,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"},{"english_name":"Spanish","iso_639_1":"es","name":"Español"}],"status":"Released","tagline":"I
        don''t feel I have to wipe everybody out, Tom. Just my enemies.","title":"The
        Godfather: Part II","video":false,"vote_average":8.6,"vote_count":7950}'
  recorded_at: Wed, 09 Dec 2020 23:23:17 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/240/reviews?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 202155e2e03eaee3304d48f44d06151b18b69f38
      X-Memc-Age:
      - '7653'
      X-Memc-Expires:
      - '13947'
      Etag:
      - W/"7833938b0a11fb0c4b486b758ac5dcc1"
      Last-Modified:
      - Wed, 09 Dec 2020 23:16:47 GMT
    body:
      encoding: UTF-8
      string: '{"id":240,"page":1,"results":[{"author":"jkbbr549","author_details":{"name":"","username":"jkbbr549","avatar_path":null,"rating":null},"content":"This
        is by far the greatest movie of all time!  Even better than the first Godfather!","created_at":"2015-04-21T11:41:26.541Z","id":"553637669251416518002602","updated_at":"2015-04-21T13:57:15.391Z","url":"https://www.themoviedb.org/review/553637669251416518002602"},{"author":"Matthew
        Dixon","author_details":{"name":"Matthew Dixon","username":"matthewdixon","avatar_path":"/Af7sJr2dLx38npWMIaDzVmdzwd4.jpg","rating":10.0},"content":"Worthy
        sequel to the first movie. In something more meditative and unhurried, in
        something more philosophically meaningful than its legendary predecessor.
        Backstage games and backstage talks replaced the dramatic mood swings of the
        main characters and the exchange of fire.\r\n\r\nThe second film continues
        the story of Michael Carleone in the role of the Godfather, and also complements
        the family story with scenes of the formation of the young Vito Andolini and
        his escape to America. The difficult choice of being young Don, his sphere
        of expansion of influence opens up new heights and horizons, but also acquires
        new enemies. Big money and power always keep pace with great temptation, and
        therefore you should always keep your ears open. After all, the knife in the
        back can insert exactly the one from whom you do not expect ...","created_at":"2019-07-30T08:28:10.884Z","id":"5d3fff9ab87aec6aa339e228","updated_at":"2019-07-31T22:33:04.159Z","url":"https://www.themoviedb.org/review/5d3fff9ab87aec6aa339e228"}],"total_pages":1,"total_results":2}'
  recorded_at: Wed, 09 Dec 2020 23:23:17 GMT
[...]
