---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/8587?api_key=<TMB_movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4104e0ccd00c2d9dc10d543f2e88587e5518beb0
      X-Memc-Age:
      - '20294'
      X-Memc-Expires:
      - '1306'
      Etag:
      - W/"fc38204e8c7c056eca1e3177ecc8c211"
      Last-Modified:
      - Sun, 07 Feb 2021 19:47:55 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/wXsQvli6tWqja51pYxXNG1LFIGV.jpg","belongs_to_collection":{"id":94032,"name":"The
        Lion King Collection","poster_path":"/oG1heUs503GV6xBnFhgyYTGWm05.jpg","backdrop_path":"/A9IEaj9cPAwEgFnTmteB70oxgJY.jpg"},"budget":45000000,"genres":[{"id":10751,"name":"Family"},{"id":16,"name":"Animation"},{"id":18,"name":"Drama"}],"homepage":"http://movies.disney.com/the-lion-king","id":8587,"imdb_id":"tt0110357","original_language":"en","original_title":"The
        Lion King","overview":"A young lion prince is cast out of his pride by his
        cruel uncle, who claims he killed his father. While the uncle rules with an
        iron paw, the prince grows up beyond the Savannah, living by a philosophy:
        No worries for the rest of your days. But when his past comes to haunt him,
        the young prince must decide his fate: Will he remain an outcast or face his
        demons and become what he needs to be?","popularity":126.021,"poster_path":"/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg","production_companies":[{"id":2,"logo_path":"/wdrCwmRnLFJhEoH8GSfymY85KHT.png","name":"Walt
        Disney Pictures","origin_country":"US"},{"id":6125,"logo_path":"/tVPmo07IHhBs4HuilrcV0yujsZ9.png","name":"Walt
        Disney Animation Studios","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1994-06-23","revenue":763455561,"runtime":89,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Life''s
        greatest adventure is finding your place in the Circle of Life.","title":"The
        Lion King","video":false,"vote_average":8.2,"vote_count":13577}'
  recorded_at: Sun, 07 Feb 2021 19:47:55 GMT
recorded_with: VCR 6.0.0
