<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.first_name %>!</p>
    <p>
      Please feel free to reach out to us if you have any questions
      or experince any technical issues.<br><br>

      Hope you enjoy our app!<br>
      Viewing Party Team
    </p>
  </body>
</html>
