---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1891/watch/providers?api_key=<movie_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4a4bf73c4dd427d0a37799ed67440b48005cfb08
      X-Memc-Age:
      - '5780'
      X-Memc-Expires:
      - '9104'
      Etag:
      - W/"e192e87678cc2a439974ed4fbe1ab0e9"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1891,"results":{"AR":{"link":"https://www.themoviedb.org/movie/1891-the-empire-strikes-back/watch?locale=AR","rent":[{"display_priority":52,"logo_path":"/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg","provider_id":3,"provider_name":"Google
        Play Movies"}],"flatrate":[{"display_priority":49,"logo_path":"/dgPueyEdOwpQ10fjuhL2WYFQwQs.jpg","provider_id":337,"provider_name":"Disney
        Plus"}],"buy":[{"display_priority":52,"logo_path":"/p3Z12gKq2qvJaUOMeKNU2mzKVI9.jpg","provider_id":3,"provider_name":"Google
        Play Movies"}]},"AT":{"link":"https://www.themoviedb.org/movie/1891-the-empire-strikes-back/watch?locale=AT","flatrate":[{"display_priority":49,"logo_path":"/dgPueyEdOwpQ10fjuhL2WYFQwQs.jpg","provider_id":337,"provider_name":"Disney
        Plus"}],"buy":[{"display_priority":2,"logo_path":"/q6tl6Ib6X5FT80RMlcDbexIo4St.jpg","provider_id":2,"provider_name":"Apple
        iTunes"},{"display_priority":41,"logo_path":"/paq2o2dIfQnxcERsVoq7Ys8KYz8.jpg","provider_id":68,"provider_name":"Microsoft
        Store"},{"display_[...]
