---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=6b310e0dcdbc8d375cce6ea3bf466eea&page=1&query=klsdjfl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - a8d277d2d95f2ea20f792a48c43093dc
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 15 Jul 2021 00:33:43 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=6b310e0dcdbc8d375cce6ea3bf466eea&page=2&query=klsdjfl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - daeb628883c68203dc276731d4722f32
    body:
      encoding: UTF-8
      string: '{"page":2,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Thu, 15 Jul 2021 00:33:44 GMT
recorded_with: VCR 6.0.0
