.contain {
  background-repeat: no-repeat;
  background-position: right -200px top;
  background-size: cover;
  .dimmer {
    height: 530px;
    justify-content: center;
    padding: 40px;
    background-image: linear-gradient(to right, rgba(5.49%, 5.49%, 7.06%, 1.00) 150px, rgba(5.49%, 5.49%, 7.06%, 0.65) 100%);
    display: flex;
    .poster {
      border-radius: 14px;
      width: 300px;
      min-width: 300px;
      height: 450px;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .poster-img {
        width: 300px;
        height: 450px;
      }
    }
    .movie-card {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      padding-left: 30px;
      max-width: 800px;
      align-content: center;
      .movie-title {
        color: whitesmoke;
        font-weight: 800;
        font-size: 2.5rem;
        width: 100%;
        margin-bottom: 25px;
        flex-wrap: wrap;
        line-height: 1.1;
        .title {
          text-decoration: none;
          color: whitesmoke;
        }
      }

      .line {
        list-style-type:none;
        display: flex;
        align-items: center;
        margin-right: 20px;
        padding-left: 0px;

        .movie-rating {
          color: whitesmoke;
          font-weight: 800;
          font-size: 2.5rem;
          .rating {
            font-weight: 600;
          }
          #rating {
            border: 2px solid whitesmoke;
          }
        }
        .trailer {
          margin-left: 20px;
          padding-bottom: 15px;
          .btn {
            background-color: rgb(226, 226, 226);
            transition: background-color 0.2s linear;
            &:hover {
              transform: scale(1.01);
              background-color: rgb(184, 208, 209);
            }
          }
        }
        .party-btn {
          margin-left: 20px;
          padding-bottom: 15px;
          .btn {
            background-color: rgb(226, 226, 226);
            transition: background-color 0.2s linear;
            &:hover {
              transform: scale(1.01);
              background-color: rgb(184, 208, 209);
            }
          }
        }
      }
      .menu {
        .item {
          color: whitesmoke;
          padding: 8px;
          font-size: 1.2rem;
        }
      }
      .bottom {
        background-color: transparent;
        .overview {
          background-color: transparent;
          color: whitesmoke;
          font-size: 1.2rem;
          overflow-y: scroll;
          overflow-x: hidden;
          max-height: 220px;
        }
      }
    }
  }
}