<center>
  <div class='movies'>
  <% if params[:title] %>
    <% @movies.each do |movie| %>
      <h3><%= movie.title %></h3>
      <p>Rating: <%= movie.vote_avg %></p>
    <% end %>
  <% else %>
  <h1>Top 40 Movies</h1>
    <ol>
      <% @movies.each do |movie| %>
        <h3><li><%= movie.title %></li></h3>
        <p>Rating: <%= movie.vote_avg %></p><br>
      <% end %>
    <ol>
  <% end %>
  </div>
</center>
