<% service = TMDBService.new(ENV['movie_db_key'], @title) %>

<% if @title %>
  <ol>
    <% service.movie_search.each do |movie| %>
      <li><%= link_to movie[:title], movie_path(movie[:id]) %> Vote Average: <%= movie[:vote_average] %></li>
    <% end %>
  </ol>
<% else %>
  <ol>
    <% service.top_movies.each do |movie| %>
      <li><%= link_to movie[:title], movie_path(movie[:id]) %> Vote Average: <%= movie[:vote_average] %></li>
    <% end %>
  </ol>
<% end %>
