<p>Search by movie title:</p>
<p>Find Top Rated Movies</p>

<section>
  <h2>
    Top 40 Movies
  </h2>
  <ul class="movies">
    <% @top_40_movies.each do |movie| %>
      <li id="movie-<%= movie[:id] %>">
        <%= link_to "#{movie[:original_title]}", "/movies/#{movie[:id]}" %>,
        Vote Average: <%= movie[:vote_average] %>
      </li>
    <% end %>
  </ul>
</section>
