<% if @movies.present? %>
  <div class='movies'>
    <table class="movie-list">
      <% @movies.each do |movie| %>
        <tr> 
          <td><%= movie[:title] %></td>
          <td><%= movie[:vote_average] %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
