<h1>Welcome to Viuwu-ing Party</h1>
<button type="button" name="button">Find Top Rated Movies</button>

<h3>OR</h3>

<%= form_with url: "/movies", method: :get do |form| %>
  <%= form.label :query, "Search for movie by title" %>
  <%= form.text_field :query %>
  <%= form.submit "Find Movies" %>
<% end %>
