<h1>Top 40 Movies</h1>
<% @movies[:results].first(40).map do |movie|  %>
  <%= movie[:title] %>, rating:
  <%= movie[:vote_average] %><br>
<% end  %><br>
<%= link_to "Back to Discover Movies", "/discover" %>
