<% @titles.each do |title| %>
  <div class="movie-column">
    <ul class="movie-results"><%= title[:original_title] %></ul>
  </div>

  <div class="vote-column">
    <ul>Vote Average: <%= title[:vote_average] %></ul>
  </div>
<% end %>
