<% if @top_movies %>
<% @top_movies.each do |movie| %>
  <div class="movie">
      <div class="title">
        <p>Title: <%= button_to movie[:original_title], "/movies/#{movie[:id]}", method: :get %></p>
      </div>
      <div class="rating">
        <p>Rating: <%= movie[:vote_average] %></p>
      </div>
  </div>
<% end %>
  <% end  %>

  <% if @search_movies %>
<% @search_movies.each do |movie| %>
<div class="movies_search">
  <div class="title_search">
    <p>Title: <%= button_to movie[:original_title], "/movies/#{movie[:original_title]}", params: {movie_id: movie[:id]} %></p>
  </div>
  <div class="rating_search">
    <p>Rating: <%= movie[:vote_average] %></p>
  </div>
</div>
<% end %>
<% end %>
