<h1>Movie Details For "<%= @movie.title %>"</h1>

<h2>Movie Details</h2>

<ul>
  <li>
    <p>Vote Average: <%= @movie.vote_average %></p>
    <p>Runtime: <%= @movie.runtime %></p>
    <p>Genres: <%= @movie.genres %></p>
  </li>
</ul
