---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 6f4c2280f4a0a7993e5dfaea76a290f45af97d9d
      X-Memc-Age:
      - '16022'
      X-Memc-Expires:
      - '5578'
      Etag:
      - W/"931139b25d554f0c344be4b98a91bce5"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tY6zVyt0OubPgCapbXFJLKhQqSu.jpg","belongs_to_collection":null,"budget":1350000,"genres":[{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"}],"homepage":"http://www.universalstudiosentertainment.com/lock-stock-and-two-smoking-barrels/","id":100,"imdb_id":"tt0120735","original_language":"en","original_title":"Lock,
        Stock and Two Smoking Barrels","overview":"A card shark and his unwillingly-enlisted
        friends need to make a lot of cash quick after losing a sketchy poker match.
        To do this they decide to pull a heist on a small-time gang who happen to
        be operating out of the flat next door.","popularity":10.076,"poster_path":"/8kSerJrhrJWKLk1LViesGcnrUPE.jpg","production_companies":[{"id":491,"logo_path":"/rUp0lLKa1pr4UsPm8fgzmnNGxtq.png","name":"Summit
        Entertainment","origin_country":"US"},{"id":21920,"logo_path":null,"name":"The
        Steve Tisch Company","origin_country":""},{"id":13419,"logo_path":null,"name":"SKA
        Films","origin_country":""},{"id":1382,"logo_path":"/sOg7LGESPH5vCTOIdbMhLuypoLL.png","name":"PolyGram
        Filmed Entertainment","origin_country":"US"},{"id":20076,"logo_path":"/i9qXGJIP9fGN22PP5jXUVENbyHi.png","name":"HandMade
        Films","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"1998-03-05","revenue":28356188,"runtime":105,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        Disgrace to Criminals Everywhere.","title":"Lock, Stock and Two Smoking Barrels","video":false,"vote_average":8.2,"vote_count":4705}'
  recorded_at: Sat, 27 Mar 2021 21:43:39 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/100/credits?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c41ce48095c7537b31baa5d45023f7d60a0f8887
      X-Memc-Age:
      - '12823'
      X-Memc-Expires:
      - '8777'
      Etag:
      - W/"3ee52e3b242008ec3d66bb1edfc9b7fd"
    body:
      encoding: ASCII-8BIT
      string: '{"id":100,"cast":[{"adult":false,"gender":2,"id":973,"known_for_department":"Acting","name":"Jason
        Flemyng","original_name":"Jason Flemyng","popularity":12.336,"profile_path":"/6E5KfjDwm00jIfN3LNLL9jZAvx3.jpg","cast_id":12,"character":"Tom","credit_id":"52fe4217c3a36847f80035fb","order":0},{"adult":false,"gender":2,"id":974,"known_for_department":"Acting","name":"Dexter
        Fletcher","original_name":"Dexter Fletcher","popularity":2.472,"profile_path":"/yRI8MDB5sg8b8EZkzFz5cCBrnKL.jpg","cast_id":13,"character":"Soap","credit_id":"52fe4217c3a36847f80035ff","order":1},{"adult":false,"gender":2,"id":975,"known_for_department":"Acting","name":"Nick
        Moran","original_name":"Nick Moran","popularity":2.75,"profile_path":"/cwqrMbCE9ABFK8NhnK2DypEozr1.jpg","cast_id":14,"charac[...]
