---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/4520?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b6ff4fe1a257f5a2954fe737f45cc0ac5ff101aa
      X-Memc-Age:
      - '8110'
      X-Memc-Expires:
      - '13490'
      Etag:
      - W/"975df5ace27ce1ea62e54033ffe75aa9"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/9COKDjVGd2KIm6O6wFsSRJcNj6z.jpg","belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"},{"id":9648,"name":"Mystery"}],"homepage":"http://www.sonyclassics.com/sleuth/","id":4520,"imdb_id":"tt0857265","original_language":"en","original_title":"Sleuth","overview":"On
        his sprawling country estate, an aging writer matches wits with the struggling
        actor who has stolen his wife''s heart.","popularity":13.23,"poster_path":"/AuBNRTVDwht3DaGSCxmxJLXV1wR.jpg","production_companies":[{"id":97,"logo_path":"/7znWcbDd4PcJzJUlJxYqAlPPykp.png","name":"Castle
        Rock Entertainment","origin_country":"US"},{"id":679,"logo_path":null,"name":"Timnick
        Films","origin_country":""},{"id":771,"logo_path":null,"name":"Mandate Pictures","origin_country":"US"},{"id":1668,"logo_path":null,"name":"Riff
        Raff Film Productions","origin_country":""}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2007-10-12","revenue":342835,"runtime":86,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Obey
        the rules.","title":"Sleuth","video":false,"vote_average":6.4,"vote_count":358}'
  recorded_at: Sat, 27 Mar 2021 22:00:35 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/4520/credits?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ada59a3dbb38b457e85ee0d296118e39478c0524
      X-Memc-Age:
      - '193'
      X-Memc-Expires:
      - '21407'
      Etag:
      - W/"db89c4f489bad7f0452677bcf48365da"
    body:
      encoding: ASCII-8BIT
      string: '{"id":4520,"cast":[{"adult":false,"gender":2,"id":3895,"known_for_department":"Acting","name":"Michael
        Caine","original_name":"Michael Caine","popularity":8.597,"profile_path":"/klNx4UqkcE9u7P3vsg20AKwgplw.jpg","cast_id":3,"character":"Andrew
        Wyke","credit_id":"52fe43c8c3a36847f806f3ef","order":0},{"adult":false,"gender":2,"id":9642,"known_for_department":"Acting","name":"Jude
        Law","original_name":"Jude Law","popularity":11.149,"profile_path":"/A6Y0m7qEe04ZTHKyYDLbnyCHNzn.jpg","cast_id":2,"character":"Milo
        Tindle","credit_id":"52fe43c8c3a36847f806f3eb","order":1},{"adult":false,"gender":2,"id":26157,"known_for_department":"Writing","name":"Harold
        Pinter","original_name":"Harold Pinter","popularity":1.396,"profile_path":"/vRHdzvltgutLb1rvi51eTjzUZj.jpg","cast_id":18,"character":"Man
        on T.V.","credit_id":"52fe43c8c3a36847f806f447","order":2},{"adult":false,"gender":1,"id":82847,"known_for_department":"Acting","name":"Carmel
        O''Sullivan","original_name":"Carmel O''Sullivan","popularity":0.6,"profile_path":null,"cast_id":19,"character":"Maggie","credit_id":"52fe43c8c3a36847f806f44b","order":3},{"adult":false,"gender":2,"id":11181,"known_for_department":"Directing","name":"Kenneth
        Branagh","original_name":"Kenneth Branagh","popularity":3.507,"profile_path":"/AbCqqFxNi5w3nDUFdQt0DGMFh5H.jpg","cast_id":21,"character":"Other
        Man on T.V.","credit_id":"52fe43c8c3a36847f806f455","order":4}],"crew":[{"adult":false,"gender":2,"id":8330,"known_for_department":"Production","name":"Tom
        Sternberg","original_name":"Tom Sternberg","popularity":0.6,"profile_path":null,"credit_id":"52fe43c8c3a36847f806f40d","department":"Production","job":"Producer"},{"adult":false,"gender":2,"id":7750,"known_for_department":"Writing","name":"Anthony
        Shaffer","original_name":"Anthony Shaffer","popularity":0.6,"profile_path":null,"credit_id":"5d4716302fdec60015b6cc4d","department":"Writing","job":"Teleplay"},{"adult":false,"gender":2,"id":9152,"known_for_department":"Sound","name":"Patrick
        Doyle","original_name":"Patrick Doyle","popularity":0.6,"profile_path":"/zffHei02Xba8eH8KjdQf1irOTYQ.jpg","credit_id":"52fe43c8c3a36847f806f425"[...]
[...]
