---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/558/reviews?api_key=<TMDB_API_KEY>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 737d4f23e871103f3d1d47140941babecc2693cd
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-03-25 10:09:15 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":558,"page":1,"results":[{"author":"tmdb39513728","author_details":{"name":"","username":"tmdb39513728","avatar_path":null,"rating":8.5},"content":"**Superheroes
        Anonymous**\r\n\r\nTragically I am a Batman. An obsessive Caped Crusader comic-book
        collector until 1972 when my evil mother tossed the entire bunch in the garbage.
        My cousin was Spider-man. His noble mother preserved his collection with plastic
        envelopes and to this day they remain in pristine condition. \r\n\r\nWhat''s
        truly tragic about being a Batman is that, despite Nolan''s recent attempts
        (and questionable sincerity), the best[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/558/reviews?api_key=<TMDB_API_KEY>&language=en-US&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 743288ccf9425bf7e2ec42a460b08caca6e4954b
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-03-25 10:09:15 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":558,"page":2,"results":[{"author":"DanielThomas","author_details":{"name":"","username":"DanielThomas","avatar_path":"/qTAoFrvSKjubFEFwq8qopAdKdZ7.jpg","rating":null},"content":"More
        than just a comic book hero, Spider Man is a person with human problems, responsibilities,
        and the same human struggles each of us go through. This is exactly the reason
        why a lot of people like him so much.","created_at":"2020-01-04T11:58:16.998Z","id":"5e107dd85907de0012da5c19","updated_at":"2020-01-04T16:32:58.521Z","url":"https://www.themoviedb.org/review/5e107dd85907de0012da5c19"},{"author":"MatthewJackson","author_details":{"name":"","username":"MatthewJackson","avatar_path":"/1xtVOw4nsYckPKjiH4NbuMw2S5Y.jpg","rating":null},"content":"Sequels
        usually have this thing where they end up being total garbage compared to
        the first, but surprisingly, Spider Man 2 was on point. Same quality, same
        amazing plot, and same award-winning performance by Tobey Maguire.","created_at":"2020-01-05T17:16:[...]
