---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_SHARE_MY_KEY>&language=en&page=1&query=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 8e6292c3d9056c0d08bd7f939021844e
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":0,"total_pages":0,"results":[]}'
  recorded_at: Tue, 13 Oct 2020 05:05:46 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<DONT_SHARE_MY_KEY>&language=en&page=1&query=asdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 8e6292c3d9056c0d08bd7f939021844e
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":0,"total_pages":0,"results":[]}'
  recorded_at: Tue, 13 Oct 2020 05:05:46 GMT
recorded_with: VCR 6.0.0
