---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=--PRIVATE--&query=Jack%2BReacher
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/k7h4RNAarfOrF2r2YMN0P2FQSr4.jpg","genre_ids":[80,18,53,28],"id":75780,"original_language":"en","original_title":"Jack
        Reacher","overview":"When a gunman takes five lives with six shots, all evidence
        points to the suspect in custody. On interrogation, the suspect offers up
        a single note: \"Get Jack Reacher!\" So begins an extraordinary chase for
        the truth, pitting Jack Reacher against an unexpected enemy, with a skill
        for violence and a secret to keep.","popularity":38.41,"poster_path":"/zlyhKMi2aLk25nOHnNm43MpZMtQ.jpg","release_date":"2012-12-20","title":"Jack
        Reacher","video":false,"vote_average":6.5,"vote_count":5158},{"adult":false,"backdrop_path":"/ww1eIoywghjoMzRLRIcbJLuKnJH.jpg","genre_ids":[28],"id":343611,"original_language":"en","original_title":"Jack
        Reacher: Never Go Back","overview":"Jack Reacher must uncover the truth behind
        a major government conspiracy in order to clear his name. On the run as a
        fugitive from the law, Reacher uncovers a potential secret from his past that
        could change his life forever.","popularity":42.972,"poster_path":"/wxLUQ1pIms3HAlVGYvEG9zg2kDs.jpg","release_date":"2016-10-19","title":"Jack
        Reacher: Never Go Back","video":false,"vote_average":5.8,"vote_count":3519}],"total_pages":1,"total_results":2}'
  recorded_at: Sat, 27 Mar 2021 15:33:30 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/75780?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 587c9c40d7c94915005db24a8bb77d892e0f994c
      X-Memc-Age:
      - '17172'
      X-Memc-Expires:
      - '4428'
      Etag:
      - W/"de47fba9510108b5f6e551bf91d41b8b"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/k7h4RNAarfOrF2r2YMN0P2FQSr4.jpg","belongs_to_collection":{"id":403374,"name":"Jack
        Reacher Collection","poster_path":"/7baSUtFKi8PQ9SLo6ECYBfAW2K8.jpg","backdrop_path":"/vViRXFnSyGJ2fzMbcc5sqTKswcd.jpg"},"budget":60000000,"genres":[{"id":80,"name":"Crime"},{"id":18,"name":"Drama"},{"id":53,"name":"Thriller"},{"id":28,"name":"Action"}],"homepage":"http://www.jackreachermovie.com/","id":75780,"imdb_id":"tt0790724","original_language":"en","original_title":"Jack
        Reacher","overview":"When a gunman takes five lives with six shots, all evidence
        points to the suspect in custody. On interrogation, the suspect offers up
        a single note: \"Get Jack Reacher!\" So begins an extraordinary chase for
        the truth, pitting Jack Reacher against an unexpected enemy, with a skill
        for violence and a secret to keep.","popularity":38.41,"poster_path":"/zlyhKMi2aLk25nOHnNm43MpZMtQ.jpg","production_companies":[{"id":82819,"logo_path":"/5Z8WWr0Lf1tInVWwJsxPP0uMz9a.png","name":"Skydance
        Media","origin_country":"US"},{"id":128585,"logo_path":null,"name":"H2L Media
        \"AKA\" Mutual Film Company","origin_country":""},{"id":128586,"logo_path":null,"name":"H2L
        Media Group","origin_country":""},{"id":21777,"logo_path":null,"name":"TC
        Productions","origin_country":""},{"id":117362,"logo_path":null,"name":"Mutual
        Films","origin_country":""},{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2012-12-20","revenue":218340595,"runtime":130,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        Law Has Limits. He Does Not.","title":"Jack Reacher","video":false,"vote_average":6.5,"vote_count":5158}'
  recorded_at: Sat, 27 Mar 2021 15:33:31 GMT
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/75780/credits?api_key=--PRIVATE--&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 031eef08079b9c706027e617530329ce8f75cb9f
      X-Memc-Age:
      - '15630'
      X-Memc-Expires:
      - '5970'
      Etag:
      - W/"84dfbea0845b7fb131b08a2cb67706d7"
    body:
      encoding: ASCII-8BIT
      string: '{"id":75780,"cast":[{"adult":false,"gender":2,"id":500,"known_for_department":"Acting","name":"Tom
        Cruise","original_name":"Tom Cruise","popularity":26.655,"profile_path":"/gThaIXgpCm3PCiXwFNDBJCme85y.jpg","cast_id":1001,"character":"Jack
        Reacher","credit_id":"52fe4912c3a368484e11918f","order":0},{"adult":false,"gender":1,"id":10882,"known_for_department":"Acting","name":"Rosamund
        Pike","original_name":"Rosamund Pike","popularity":14.661,"profile_path":"/8ObNklHDi2hjdz0ayzJFB9jtqzm.jpg","cast_id":1002,"character":"Helen
        Rodin","credit_id":"52fe4912c3a368484e119193","order":1},{"adult":false,"gender":2,"id":28633,"known_for_department":"Acting","name":"Richard
        Jenkins","original_name":"Richard Jenkins","popularity":2.632,"profile_path":"/muT3RZG9hiKaKojD751RcQ5t[...]
[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/75780/reviews?api_key=--PRIVATE--&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 54499467bdb865bb3167c16221a3b67603d58c3f
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Last-Modified:
      - '2021-02-20 07:33:50 +0000'
    body:
      encoding: ASCII-8BIT
      string: '{"id":75780,"page":1,"results":[{"author":"Kenneth Axel Carlsson","author_details":{"name":"Kenneth
        Axel Carlsson","username":"brekkil","avatar_path":"/https://secure.gravatar.com/avatar/648b18d7cae356c8701d5bf3309a5717.jpg","rating":3.0},"content":"A
        man shoots six people in a park, seemingly at random. The evidence is obvious
        and the police catch him short after. When asked about the murders, all he
        says (or rather writes) is \"Get Jack Reacher\". They do, and while Jack thinks
        he is only here to bury him (whatever that actually means), he soon finds
        out that the rabbit hole goes a bit further than he originally thought. Now
        Jack is looking to put together the pieces of a much larger puzzle[...]
[...]
