<h1>Welcome <%= @user.username %></h1>

<section id="discover-movies">
  <%= button_to "Discover Movies", discover_index_path, method: :get %>
</section>

<section id="friends">
  Check Out Yo Friends
</section>

<section id="viewing-parties">
  Check Out Yo Viewing Parties
</section>
