<body class="dashboard-page">
  <div class="bottom-container">
    <h1>Welcome <%= @user.username %></h1>
  </div>

  <div class="top-container">
    <h1>Welcome <%= @user.username %></h1>
  </div>

  <section id="discover-movies" class="discover-movies">
    <%= button_to "Discover Movies", discover_index_path, :id => "discover-movies", method: :get %>
  </section>

  <section id="friends">
    Check Out Yo Friends
  </section>

  <section id="viewing-parties">
    Check Out Yo Viewing Parties
  </section>

</body>
