<div class="center">
  <h4>Welcome <%= @user.name %>!</h4>
</div>
<hr>
<%= button_to "Discover Movies", "/movies", method: :get%>


<section class="friends">
<p>Friends:</p>
</section>


<section class="viewing_parties">

</section>
