<h2>My Friends:</h2>

<%= form_with url: dashboard_path, local: true do |form| %>
  <%= form.label :user_search, 'Search For New Friend:' %>
  <%= form.text_field :user_search, id: :user_search %>
  <%= form.submit 'Add Friend' %>
<% end %>

<% if current_user.no_friends? %>
    <h3>You Have No Followers</h3>
<% end %>
