<h1>Welcome <%= current_user.name %>!</h1>

<%= button_to "Discover Movies", "/discover", method: :get %>

<section class='friends'>
  <h3>Friends</h3>

</section>

<section class='viewing-parties'>
  <h3>Viewing Parties</h3>
</section>
