<h2>Welcome <%= @user.full_name %>!</h2><br>

<h5>You can now invite your friends and start viewing parties!</h5>

<%= link_to "Log Out", logout_path %>
<section id='friends'>
  <h5>Friends</h5>
 <% if @user.friends.empty? %>
    <p>You currently have no friends</p>
 <% else %>
   <% @user.friends.each do |friend| %>
   <%= friend.full_name %>
   <% end %>
 <% end %>
</section>
