<ul id="navbar">
<li><a href="/">Home Page</a> </li>
<li> <%=link_to 'logout',logout_path, method: :delete, value: "logout" %></li>
<li><a href="/discover">Discover Movies</a></li>
<li><a href="/dashboard">Your Page</a></li>
</ul>
