<div class='movies'>
    <% @movies.each do |movie| %>
    <ul>
        <li><%= link_to movie.title, "movies/#{@movie.id}" %></li>
        <li>Vote Average: <%= movie.vote_average %></li>
    </ul>
    <% end %>
</div>
