<body class="welcome-page">
  <div style="clear:both;">
  <table class="about">
    <tr>
    <tr>
    <th>
      <div>
        <h2 class="content">About the Project</h2>
        <p>This was a collaboration effort between Travis McKinstry, Norma Lopez and Saryn Mooney.</p>
        <p>The point of this project was to apply our understanding of the following concepts;</p>
        <p style="float:left;">-API consumption<br><br> -CSS/HTML<br><br> -MVC principles</p>
        <p style="float:right;">-Full CRUD functionality <br><br> -Testing API calls using gem 'webmock'<br><br> -RSpec</p>
      </div>
      <div style="clear:both;">
        <br>
      <p>The main goal was to use a database (we used The Movie DB, <a href="https://www.themoviedb.org/">found here)</a> from which we would consume several API endpoints.</p>
      <br>
      <p>The next few goals were to implement MVC principles to create models of movies, where one can create a 'viewing party' with full CRUD functionality.</p>
      </th>
    </tr>
  </table>

  <table class="about-people">
    <tr>
    <tr>
    <th>
      <div>
        <h2 class="content">About the People</h2>
        <table class="saryn">
          <caption align="bottom"><a href="https://www.linkedin.com/in/saryn-mooney-34503984/" target="_blank">Saryn Mooney</a></caption>
          <tr><td><a href="https://www.linkedin.com/in/saryn-mooney-34503984" target="_blank"><img src="https://i.ibb.co/DDbDyCs/Screen-Shot-2020-10-29-at-2-53-31-PM.png" alt="Saryn headshot" id="saryn"></a></td></tr>
        </table>


        <table class="norma">
          <caption align="bottom"><a href="https://www.linkedin.com/in/norma-lopez/" target="_blank">Norma Lopez</a></caption>
          <tr><td><a href="https://www.linkedin.com/in/norma-lopez/" target="_blank"><img src="https://i.ibb.co/n1fmSqP/Screen-Shot-2020-10-29-at-3-01-26-PM.png" alt="Screen-Shot-2020-10-29-at-3-01-26-PM" id="norma"></a></td></tr>
        </table>

        <table class="travis">
          <caption align="bottom"><a href="https://www.linkedin.com/in/travis-mckinstry/" target="_blank">Travis McKinstry</a></caption>
          <tr><td><a href="https://www.linkedin.com/in/travis-mckinstry/" target="_blank"> <img src="https://i.ibb.co/WD1Y21T/travis-headshot.jpg" alt="travis headshot" id="travis"></a></td></tr>
        </table>
      </div>
     <%# <%= link_to "Hey", "/home" %>
      <br></br>
      </th>
    </tr>
  </table>
</body>
