<h1>Welcome to Viewing Party!</h1>
<h3>Browse movies, create viewing partys, and invite friends!!!</h3>
<br>
<br>
<%= button_to "Log in here", '/log_in', method: :get %>
<p>Haven't created an account yet? <%= link_to "Register here", '/register' %></p>
