<div class="center">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="62868422183-mcitplkv4usrjks0t02h67q69oeh7hlu.apps.googleusercontent.com">

  <h1>Welcome to Viewing Party!</h1>

  <h4>Watch movies with your friends.</h4>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>

</div>
