<h2>Welcome to Viewing Party</h2>

<p>
  For this project, you will be building an application to explore movies and create a viewing party event for you and your friends to watch a movie together. The application will require basic authentication.
</p>
