<h1>Viewing Party</h1>

<h2>Welcome to the Viewing Party! Sign in or register!</h2>

<h3>"Find info about gnarly movies and create your own viewing parties!"</h3>

<%= button_to 'Login', login_path %>
<%= link_to 'Register', new_user_path %>
