<div class="center">
  <h1>Welcome to Viewing Party!</h1>

  <h4>Watch movies with your friends.</h4>

  <%= link_to "Sign in with Google", "/auth/google_oauth2?client_id=#{ENV['GOOGLE_CLIENT_ID']}" %>

</div>
