<h1> This is Viewing Party!</h1>

<h3> "This app allows you to add friends and have events to view movies!"</h3>

<%= link_to "Log In", "/login" %>
<%= button_to "Register", "/registration", method: :get %>
