<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Viewing Party</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
  <h1><%= link_to "Search", discover_path %> for Movie by Title or Movie ID</h1>
</div>


