<div class="title-header">
  <h1>Welcome to the Viewing Party!</h1>
</div>

<section class="description">
  <h3>Our goal</h3>
  <p>Here at viewing party we aim to give you an online movie experience so good you'll forget you can't go to the theater anymore!</p>
</section>
