<%#Come back and add dynamic links to logout, register, and sign in %>
<h1>Welcome to Viewing Party</h1>

<h3>Explore movies and create a viewing party event for you and your friends to watch a movie together!</h3>

<%= button_to "Log in", "/login" %>
<br>
<%= link_to "New User? Click this link to Register", "/register" %>