<h1>Welcome to our Viewing Party App</h1>

<h2>This app allows you to create a viewing party to watch a movie with your friends!</h2>

<h3>Returning Users click this button to log in: <%= button_to 'Log in', '/login', method: :get, form: {style: 'display:inline-block;'} %></h3>

<h3><%= link_to 'Link to Registration', '/register' %></h3>