<section id="welcome-banner-section">
<h1>Welcome to Viewing Party</h1>
</section>

<section id="welcome-blurb-section">
<p>Hello there! Welcome to Viewing Party, a place friends to plan watch parties for all your favorite movies. We believe you're the customer, not the product! All of your data is stored securely and will never be sold. Let's get the show on the road!</p>
</section>

<section id="log-in-section">
<%= render partial: "shared/login_form" %>
</section>
