<div class="topnav">
  <%= link_to "Login", login_path%>
  <%= link_to "Register", new_user_path%>
</div>

<div class="container p-3 my-3 border">
  <h1>Welcome to the Viewing Party!</h1>
</div>

<section class="container p-3 my-3 border">
  <h3>Our goal:</h3>
  <p>Here at viewing party we aim to give you an online movie experience so good you'll forget you can't go to the theater anymore!</p>
</section>

