<h1>Welcome to Viewing Party!</h1>
<h3>Remove the pysical barrier of distance and watch movies with your friends, from anywhere in the world!</h3>

<div class="registered-users">
    <p>I want this service, sign me up!</p>
    <%= button_to "Register", "/register" %>
    <p>I already have an account, log me in!</p>
    <%= button_to "Login", "/login" %>
</div>
