<p>Viewing Party is an application that allows users to create and watch movies with other users integrated with Google Calender</p>
<%= link_to "Login with Google", "/auth/google_oauth2?client_id=#{ENV['GOOGLE_CLIENT_ID']}" %>
