
<div class="center">
<h1>Welcome to Viewing Party!</h1>

<h4>Watch movies with your friends.</h4>

<%= link_to "Sign in with Google",
"https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=62868422183-mcitplkv4usrjks0t02h67q69oeh7hlu.apps.googleusercontent.com
&redirect_uri=https://localhost:3000/&scope=openid%20profile" %>

</div>
