<body> 
  <div class="loader"> 
    <h1>Let's Make a Party!</h1> 
  </div> 
  <h2>Description: "Explore movies and create a viewing party event for you and your friends to watch a movie together!"</h2>

  <%= button_to "Login", "/dashboard" %>
  <%= button_to "Register", "/register" %>
 </body>
