<div class="center">
  <h1>Welcome to Viewing Party!</h1>

  <h4>Watch movies with your friends.</h4>

  <%= link_to "Sign in with Google",
  "https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=8e3l4ASA5L_sS5-QV6q0oAdV&redirect_uri=https://stark-oasis-05505.herokuapp.com/&scope=openid%20profile" %>

</div>
