<h1>Welcome to Viewing Party</h1>

<%= button_to "Login", 'user/login' %>
<%= link_to "Register", '/registration' %>

<p>This application allows you and your friends 
to have a movie watch party during a pandemic, 
and give you the comfort to watch from home.</p>

