<h1 align="center"> Welcome to the Viewing Party! This is an website to explore movies and schedule a time to watch them with your friends.</h1>

<%= link_to "Log In with Google", '/auth/google_oauth2' %>