<section id="welcome">
  <h1>Welcome to Viewing Party!</h1><br>
</section>
<section id="description">
  <h3>Viewing Party allows you to host or attend virtual movie parties!</h3>
</section>


<br>
<%= link_to 'Click here to register!', new_user_path %>