<h1>Welcome <%= current_user.email %>!</h1>

<%= button_to 'Discover Movies' %>

<section class='friends'>
  <h3>Friends</h3>
</section>

<section class='viewing_parties'>
  <h3>Viewing Parties</h3>
</section>
