<h1>Welcome <%= current_user.name %>!</h1>

<p><%= button_to 'Discover Movies', "/movies" %></p>

<h3>Friends:</h3>
<% @friends.each do |friend| %>
  <%= friend.name %>
<% end %>

<h3>Viewing Parties:</h3>
<% @parties.each do |party| %>
  <%= party.movie_title %>
<% end %>
