---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/top_rated?api_key=<replacement>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":37.317,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":464},{"adult":false,"backdrop_path":"/jtAI6OJIWLWiRItNSZoWjrsUtmi.jpg","genre_ids":[10749],"id":724089,"original_language":"en","original_title":"Gabriel''s
        Inferno Part II","overview":"Professor Gabriel Emerson finally learns the
        truth about Julia Mitchell''s identity, but his realization comes a moment
        too late. Julia is done waiting for the well-respected Dante specialist to
        remember her and wants nothing more to do with him. Can Gabriel win back her
        he[...]
[...]
