---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/credits?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 5924705c8f6233ddb1e997f5e7a6f5739a57c30c
      X-Memc-Age:
      - '13809'
      X-Memc-Expires:
      - '7791'
      Etag:
      - W/"2032938a5d6aa166fab0b0d5e3f0819c"
      Last-Modified:
      - Wed, 09 Dec 2020 23:16:46 GMT
    body:
      encoding: UTF-8
      string: '{"id":238,"cast":[{"adult":false,"gender":2,"id":3084,"known_for_department":"Acting","name":"Marlon
        Brando","original_name":"Marlon Brando","popularity":5.278,"profile_path":"/fuTEPMsBtV1zE98ujPONbKiYDc2.jpg","cast_id":5,"character":"Don
        Vito Corleone","credit_id":"52fe422bc3a36847f8009357","order":0},{"adult":false,"gender":2,"id":1158,"known_for_department":"Acting","name":"Al
        Pacino","original_name":"Al Pacino","popularity":9.951,"profile_path":"/fMDFeVf0pjopTJbyRSLFwNDm8Wr.jpg","cast_id":6,"character":"Don
        Michael Corleone","credit_id":"52fe422bc3a36847f800935b","order":1},{"adult":false,"gender":2,"id":3085,"known_for_department":"Acting","name":"James
        Caan","original_name":"James Caan","popularity":6.772,"profile_path":"/lshBr4yhwKH01N2t9mlDgd5Hek3.jpg","cast_[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b021e697221748056c5219e84893ed30965992af
      X-Memc-Age:
      - '17424'
      X-Memc-Expires:
      - '4176'
      Etag:
      - W/"88b58df0d3f946e2516efa0acb4efd4a"
      Last-Modified:
      - Wed, 09 Dec 2020 23:16:46 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/rSPw7tgCH9c6NqICZef4kZjFOQ5.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/9Baumh5J9N1nJUYzNkm0xsgjpwY.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":51.318,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/fycMZt242LVjagMByZOLUGbCvv3.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.7,"vote_count":13367}'
  recorded_at: Thu, 10 Dec 2020 03:59:04 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/reviews?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - a5f6e69dca5728e335e80af80eac54dbba2cfebe
      X-Memc-Age:
      - '12207'
      X-Memc-Expires:
      - '9393'
      Last-Modified:
      - Wed, 09 Dec 2020 03:28:41 GMT
      Etag:
      - W/"3207413ba504fefd47d775fb867e2f2a"
    body:
      encoding: UTF-8
      string: '{"id":238,"page":1,"results":[{"author":"futuretv","author_details":{"name":"","username":"futuretv","avatar_path":"/https://secure.gravatar.com/avatar/f44259356bf6110070ed799323d539d6.jpg","rating":10.0},"content":"The
        Godfather Review by Al Carlson\r\n\r\nThe Godfather is a film considered by
        most to be one of the greatest ever made. From The American Film Institute
        to as voted by users on the Internet Movie Database (IMDB) it is consider
        to be one of the best. As a film that ranks as high as other masterpieces
        including Citizen Kane, Pulp Fiction and 12 Angry Men, The Godfather is an
        exceptional piece of cinema excellence that is flawless and is simply the[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238/similar?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 7250d98f7c2178fcc315faa55871d869e934d611
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '21600'
      Etag:
      - W/"1f1b7f572d49674a42abf72333b8c3fe"
      Last-Modified:
      - Thu, 10 Dec 2020 02:38:21 GMT
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"id":240,"video":false,"vote_count":7951,"vote_average":8.6,"title":"The
        Godfather: Part II","release_date":"1974-12-20","original_language":"en","original_title":"The
        Godfather: Part II","genre_ids":[18,80],"backdrop_path":"/poec6RqOKY9iSiIUmfyfPfiLtvB.jpg","adult":false,"overview":"In
        the continuing saga of the Corleone crime family, a young Vito Corleone grows
        up in Sicily and in 1910s New York. In the 1950s, Michael Corleone attempts
        to expand the family business into Las Vegas, Hollywood and Cuba.","poster_path":"/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg","popularity":34.126},{"adult":false,"backdrop_path":"/lPLTLCBn39Wiy1RPQLB9xOKyF2v.jpg","genre_ids":[28,18,53],"id":979[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/upcoming?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"dates":{"maximum":"2021-01-06","minimum":"2020-12-16"},"page":1,"results":[{"adult":false,"backdrop_path":"/8rIoyM6zYXJNjzGseT3MRusMPWl.jpg","genre_ids":[14,10751,12,35,27],"id":531219,"original_language":"en","original_title":"Roald
        Dahl''s The Witches","overview":"In late 1967, a young orphaned boy goes to
        live with his loving grandma in the rural Alabama town of Demopolis. As the
        boy and his grandmother encounter some deceptively glamorous but thoroughly
        diabolical witches, she wisely whisks him away to a seaside resort. Regrettably,
        they arrive at precisely the same time that the world''s Grand High Witch
        has gathered.","popularity":748.242,"poster_path":"/betExZlgK0l7CZ9CsCBVcwO1OjL.jpg","release_date":"2020-10-26","title":"Roald
        Dahl''s The Witches","video":false,"vote_average":6.9,"vote_count":884},{"adult":false,"backdrop_path":"/eShw0LB5CkoEfYtpUcXPD85oz5Q.jpg","genre_ids":[27,53,35],"id":551804,"original_language":"en","original_title":"Freaky","overview":"A
        mystical, ancient dagger causes a notorious serial killer to magically switch
        bodies with a 17-year-old girl.","popularity":661.044,"poster_path":"/8xC6QSyxrpm0D5A6iyHNemEWBVe.jpg","release_date":"2020-11-12","title":"Freaky","video":false,"vote_average":7.5,"vote_count":105},{"adult":false,"backdrop_path":"/cjaOSjsjV6cl3uXdJqimktT880L.jpg","genre_ids":[12,14,10751,16],"id":529203,"original_language":"en","original_title":"The
        Croods: A New Age","overview":"After leaving their cave, the Croods encounter
        their biggest threat since leaving: another family called the Bettermans,
        who claim and show to be better and evolved. Grug grows suspicious of the
        Betterman parents, Phil and Hope,  as they secretly plan to break up his daughter
        Eep with her loving boyfriend Guy to ensure that their daughter Dawn has a
        loving and smart partner to protect her.","popularity":287.196,"poster_path":"/tK1zy[...]
