---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<replacement>&include_adult=false&language=en-US&page=1&query=Gabriel%27s%20Inferno%20Part%20III
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","genre_ids":[],"id":761053,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":39.347,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","release_date":"2020-11-19","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":469}],"total_pages":1,"total_results":1}'
  recorded_at: Wed, 09 Dec 2020 03:34:59 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/credits?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d605672bf5606f2859e952e631ef76fb72adf72d
      X-Memc-Age:
      - '5055'
      X-Memc-Expires:
      - '16545'
      Last-Modified:
      - Tue, 08 Dec 2020 01:50:55 GMT
      Etag:
      - W/"b16818495dc77dc7cc8d921f3105b2ff"
    body:
      encoding: UTF-8
      string: '{"id":761053,"cast":[],"crew":[]}'
  recorded_at: Wed, 09 Dec 2020 03:35:00 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - '0877582f46c0de061a03e2d907c74555bff7e218'
      X-Memc-Age:
      - '12095'
      X-Memc-Expires:
      - '9505'
      Etag:
      - W/"4f67721916992969584c5f87085a1882"
      Last-Modified:
      - Wed, 09 Dec 2020 03:27:22 GMT
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":"/hHTzveTImCWuQfpTNiB5yGZOo7e.jpg","backdrop_path":"/hXF55codODfnzTZDExbUbfFmA9y.jpg"},"budget":0,"genres":[],"homepage":"","id":761053,"imdb_id":null,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":42.139,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-11-19","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":469}'
  recorded_at: Wed, 09 Dec 2020 03:35:00 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/reviews?api_key=<replacement>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 8d30d1f91aa7c19e4661eaefe75fe52b04cd603d
      X-Memc-Age:
      - '8440'
      X-Memc-Expires:
      - '13160'
      Etag:
      - W/"8d1eafc5ae7d5fbd9a2740ec98020aeb"
      Last-Modified:
      - Wed, 09 Dec 2020 03:27:23 GMT
    body:
      encoding: UTF-8
      string: '{"id":761053,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 09 Dec 2020 03:35:00 GMT
recorded_with: VCR 6.0.0
