---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/460465/credits?api_key=<movie_api_key>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b32a46c1e7e75c774db4f3a0080ed33055c37fad
      X-Memc-Age:
      - '14378'
      X-Memc-Expires:
      - '2412'
      Etag:
      - W/"7f82dc2c6fcf0b48c2a4a5fcd5c4cfeb"
    body:
      encoding: ASCII-8BIT
      string: '{"id":460465,"cast":[{"adult":false,"gender":2,"id":1610940,"known_for_department":"Acting","name":"Lewis
        Tan","original_name":"Lewis Tan","popularity":5.872,"profile_path":"/lkW8gh20BuwzHecXqYH1eRVuWpb.jpg","cast_id":23,"character":"Cole
        Young","credit_id":"5d647aaebcf8c9001575e2c1","order":0},{"adult":false,"gender":1,"id":136347,"known_for_department":"Acting","name":"Jessica
        McNamee","original_name":"Jessica McNamee","popularity":7.652,"profile_path":"/aAfaMEEqD8syHv5bLi5B3sccrM2.jpg","cast_id":24,"character":"Sonya
        Blade","credit_id":"5d647b30bcf8c9001475e363","order":1},{"adult":false,"gender":2,"id":189230,"known_for_department":"Acting","name":"Josh
        Lawson","original_name":"Josh Lawson","popularity":3.526,"profile_path":"/Am9vM77uZd9bGODugwmWtOfzx6E.j[...]
