/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

.navbar-custom { background-color: red; }

.container, .list {
  list-style: none;
  display: inline;
}

.my-button {
  image: url("app/assets/images/zoom.svg") left no-repeat;
}

span.a {
  display: inline; /* the default for span */
}

.movie-header {
  float: right;
  display: inline;
}

.nav_button {
  color: white;
  display: inline-block;
  position: relative;
  padding: 2px 5px;
}

.button_badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute;
  top: 0;
  right: 0;
}
