/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  }

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}


.container {
  margin-top: 20px;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  background: #ffffff;
}

.container2{
  width: 100%;
}

.text {
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  background: #ffffff;
}

.login-logout {
  margin: 0 auto;
  float: left;
}
.profile {
  margin: 0 auto;
  float:right;
}


.home-button {
  margin: 0 auto;
  width:100px;
}

.welcome-page input[type=submit] {
  padding: 10px 20px 10px 20px;
  color: #FFF;
  background-color: #e96ca5;
  font-size: 15px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  border: 1px solid #9c1275;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

*{
  padding: 0;
  margin: 0;
}

.center{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.animation h1{
  color: rgba(255,0,0,0.1);
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background-size: cover;
  background-image: url(https://cdn-images-1.medium.com/max/2000/1*Jalb56N34pBIGCjQULtW3A.jpeg);
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}
.animation h2{
  color: rgba(0, 0, 0, 0);
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
  background-size: cover;
  -webkit-background-clip: text;
  animation: background-text-animation 15s linear infinite;
}

@keyframes background-text-animation {
  0%{
    background-position: left 0px top 50%;
  }
  50%{
    background-position: left 1500px top 50%;
  }
  100%{
    background-position: left 0px top 50%;
  }
}

.animation {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  display: inline-block;
  animation: fadeIn 1.5s forwards;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
  display: inline-block;
  animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  background: #ffffff;
  z-index: 1;
  position: relative;
}

.oh {
  display: inline-flex;
  overflow: hidden;
}

.second {
  animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
  font-weight: 100;
  z-index: -1;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes firstSpan {
  0% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes secondSpan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-0%);
  }
}


a:after {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.2s;
 }

a:hover {
    opacity: 0.8;
}
a:hover::after {
  width: 100%;
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


form {
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
}


.search-movies{
  background-color: rgb(255, 208, 244);
  width: 50%;
  margin: auto;
  margin-left: 20px;
  height: 190px;
  border-radius: 5px;
  float: left;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"]
 {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: 50px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 90%;
  background-color: #f186fa;
  color: #000000;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.form-page input[type=submit] {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #e96ca5;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #91129c;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

.discover-movies {
  font-size: 18px;
  text-align: center;
  width: 190px;
  margin: auto;
  margin-top: 10px;
}

.discover-movies2 {
  font-size: 18px;
  text-align: center;
  width: 190px;
  margin: auto;
  margin-top: 300px;
}

.dashboard-page h1{
  margin-top: 20px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #cc5fcf;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {
  form {
    max-width: 480px;
  }
}

.form-page {
    background-image: url(https://media.giphy.com/media/RhGNDLk9plXWWqW9RM/source.gif);
}

#home-page{
  margin-top: 30px;
  margin-bottom: 100px;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

#tom-cruise{
  margin-bottom: 0px;
  height: auto;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-right: 20px;
  float: right;
}

.welcome {
  width: 25%;
  margin-left: 40%;
}


.bottom-container,
.top-container {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 30vw;
  padding: 1vw;
}

.welcome-container{
  margin-top: 10px;
}

.bottom-container {
  color: #232323;
}

.top-container {
  background-color: rgb(255, 115, 153);
  color: white;
  clip-path: circle(13% at 85% 50%);
  animation: circleMove 100s ease-in-out infinite;
}

@keyframes circleMove {
  0%, 100% {
    clip-path: circle(13% at 85% 50%);
  }
  50% {
    clip-path: circle(13% at 15% 50%);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}


.container3 {
  max-width: 1376px;
  margin: auto;
  padding: 2rem 1.5rem;
}

.cards {
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  margin: 1rem;
}

.card h3 {
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.6rem;
  word-spacing: 3px;
}

.card h4 {
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.6rem;
  word-spacing: 3px;
}

.card h5 {
  border-bottom: 1px #fff solid;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
  font-size: 1.6rem;
  word-spacing: 3px;
}

.card p{
  opacity: 0.75;
  font-size: 0.8rem;
  line-height: 1.4;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 13px;
}

.card img {
  width: 360px;
  height: 300px;
  object-fit: cover;
  border-radius: 3px;
}

.card-inner {
  position: relative;
  width: 360px;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  border: 3px solid rgb(171, 2, 129);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 360px;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #e853f5;
  color: #fff;
  padding: 1.5rem;
  transform: rotateY(180deg);
}
