/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*/
  @import "bootstrap";


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin-top: 50px;
}

main {
  flex: 1;
}

footer {
  display: flex;
  align-self: baseline;
  flex-direction: row;
}

header {
    margin-top: 25px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background {
    background: #dedec8;
    padding: 4em 0;
    background-image: var(--bs-gradient);
}
.team {
    color: #5e5e55;
    padding: 0 180px;
}

.card-img-top
{
    color: #5e5e55;
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 5px;
      width: 250px;
}
.team .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
.team .card {
    background:none;
    border: none;
}
.team .card-title {
    font-size: 1.3rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: lightsalmon;

}
.team .cardtext {
    font-size: 0.9rem;
    margin-bottom: 0;
    text-transform: uppercase;
    color: salmon;
}

.login_page {
   max-width: 250px;
   padding: 1rem;
   border-width: 3px;
   border-style: solid;
   text-transform: uppercase;
   color: white;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EEEEEE;
}

ul#navbar li {
    float:left;
}

ul#navbar li a {
    display: block;
    color: #000000;
    font-weight:bold;
    padding: 8px 16px;
    text-decoration: none;
}


ul#navbar li a:hover {
    background-color: orange;
    color: white;
}
