<h1>Welcome to Viuwu-ing Party</h1>
<button type="button" name="button">Find Top Rated Movies</button>

<h3>OR</h3>

<form action="/movies">
  <input type="text" placeholder="Search by movie title" name="search">
  <button type="submit">Find Movies</button>
</form>
