<h1><%="#{movie.title}"%></h1>

<p><%=button_to "Create a New Party", new_party_path, method: :get, :params => {:movie_id => ???}%></p>

<ul>
<li>Vote Average: </li>
<li>Runtime (hours, minutes): </li>
<li>Genres: </li>
<li>Plot Summary: </li>
<li>Reviews (each reviewer's author and information): </li>

</ul>