---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<THIS_IS_SECRET>&include_adult=false&language=en-US&page=1&query=ghty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 8e6292c3d9056c0d08bd7f939021844e
    body:
      encoding: UTF-8
      string: '{"page":1,"total_results":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 11 Oct 2020 21:25:54 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<THIS_IS_SECRET>&include_adult=false&language=en-US&page=2&query=ghty
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - 847c9b2b23a1f3c816131f8d9cafb05d
    body:
      encoding: UTF-8
      string: '{"page":2,"total_results":0,"total_pages":0,"results":[]}'
  recorded_at: Sun, 11 Oct 2020 21:25:54 GMT
recorded_with: VCR 6.0.0
